.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

header {
}

.header-left {
  background-color: black;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150px;
  /* position: fixed; */
}

.header-right {
  color: white;
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.header-right > a {
  color: white;
  text-decoration: none !important;
}

.main-container {
  background-image: url("./Components/fantasyfootball2.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.main-container > p {
  color: white;
  font-size: 70px;
  width: 50%;
}

footer {
  height: 20vh;
  width: 100%;
}
